@font-face {
  font-family: 'barlowregular';
  src: url('../font/barlow-regular-webfont.woff2'),
       url('../font/barlow-semibold-webfont.woff2');
}


.body {
  /* background: linear-gradient(130deg, rgba(2, 5, 6, 0.9) 0%,
   rgba(232, 235, 230, 0.9) 100%); */
  overflow-x: hidden;
  font-family: 'barlowregular';
}

.hid {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: flex-end;
  background: rgba(2, 5, 6, 0.3);
  height: 100px;
}

.search {
  display: none;
}

.search_submit {
  margin: 4px 0 0 5px;
  background: rgba(0, 0, 0, 0);
  color: color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 1px solid color: rgba(255, 255, 255, 0.9);
  border-right: 1px solid color: rgba(255, 255, 255, 0.9);
}

.search_text {
  margin: 38px 0 0 5px;
  padding: 0 0 0 5px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid color: rgba(255, 255, 255, 0.9);
  border-left: 1px solid color: rgba(255, 255, 255, 0.9);
  width: 118%;
}

.search_text:focus {
  color: rgba(255, 255, 255, 0.9);
}

.lp {
  margin: 35px 100px 0 0;
  width: 20px;
  height: 20px;
}

.burger {
  position: fixed;
  top: -20px;
  right: 20px;
  display: block;
  height: 10%;
  width: 4.5%;
  color: rgba(255, 255, 255, 0.7);
  margin: 55px 10% 0 0;
  z-index: 10;
  cursor: pointer;
}

.bar0, .bar1, .bar2 {
  width: 30px;
  height: 2px;
  background: rgba(255, 255, 255, 0.7);
  margin: 0 0 5px 0;
}

.cross0 {
  transform: rotate(45deg) translate(13px, 9px);
  transition: ease 0.5s;
}

.cross1 {
  opacity: 0;
  transition: ease 0.2s;
}

.cross2 {
  transform: rotate(-45deg) translate(1px, 2px);
  transition: ease 0.5s;
}

.navtop {
  display: none;
}

.nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

.navitm1 {
  color: rgba(255, 255, 255, 0.9);
  margin: 50px 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}

.on {
  display: block;
}

.player {
  border: solid 1px #fff;
  height: 600px;
  display: none;
}

.block {
  display: block;
}


.arrow, .arrow2 {
  color: rgba(232, 235, 230, 0.9);
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 0 30px 0 10px;
}

.rotate {
  animation: rot 0.5s forwards;
}

@keyframes rot {
  100% {
  transform: rotate(90deg);
  }
}

.categories, .year_container {
  border: none;
  border-bottom: solid 5px rgba(77, 181, 119, 0.8);
  width: 150px;
  height: 25px;
  margin: 5% auto;
  overflow: hidden;
  color: rgba(232, 235, 230, 0.9);
}

.catbutt, .yearbutt {
  display: inline-block;
  color: rgba(232, 235, 230, 0.9);
  font-size: 20px;
  cursor: pointer;
}

.catlist, .year_selection_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-gap: 20px;
  overflow: hidden;
  margin: 7% 0 0 15%;
}

.open {
  height: 240px;
  animation: open 1s;
}

@keyframes open {
  0% {
    height: 120px;
  }

  100% {
    height: 240px;
  }
}

.cat {
  font-size: 20px;
  cursor: pointer;
  height: 55px;
}

.movies {
  height: 720px;
  margin: 100px 0 0 10px;
  display: grid;
  grid-template-columns: repeat(3, 32.6%);
  grid-template-rows: 50%;
  grid-auto-flow: row;
  grid-gap: 15px;
}

.film {
  cursor: pointer;
  height: 350px;
}

.film:hover {
  filter: opacity(70%);
}

.film:hover::after {
  display: flex;
  justify-content: space-around;
  align-items: center;
  content: "+";
  color: rgba(255, 0, 0, 0.9);
  font-size: 200px;
  margin-top: -315px;
  opacity: 1;
  z-index: 10;
}

.film_title
{
  font-size: 20px;
}

.film_description
{
  font-size: 40px;
  display: none;
}

 .loadmore {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: solid 1px rgba(232, 235, 230, 0.9);
  height: 30px;
  width: 100px;
  margin: 0 auto 30px auto;
  padding: 15px 0 0 0;
}

/* TABLET */
 @media (min-width: 426px) and (max-width: 1028px) {
  .search {
    display: none;
  }

  .search_submit {
    background: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  .search_text {
    margin: 38px 0 0 0;
    padding: 0 0 0 5px;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    width: 70%;
  }

  .lp {
    margin: 35px 100px 0 0;
    width: 20px;
    height: 20px;
  }

  .on {
    display: block;
  }

  .containers {
    display: flex;
  }

  .catbutt, .yearbutt {
    display: inline-block;
    color: rgba(232, 235, 230, 0.9);
    font-size: 20px;
    cursor: pointer;
  }

  .catlist, .year_selection_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    overflow: hidden;
    margin: 50px 0 0 15%;
  }

  .year_selection {
    cursor: pointer;
  }

  .categories, .year_container {
    border: none;
    border-bottom: solid 5px rgba(77, 181, 119, 0.8);
    width: 150px;
    height: 25px;
    margin: 50px 0 0 5%;
    padding-right: 2px;
    overflow: hidden;
    color: rgba(232, 235, 230, 0.9);
  }

  .open {
    height: 265px;
    animation: open 1s;
  }

  @keyframes open {
    0% {
      height: 120px;
    }

    100% {
      height: 265px;
    }
  }

   .movies {
    height: 720px;
    margin: 50px 0 20px 65px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 30%;
    grid-auto-flow: row;
    grid-gap: 10px;
  }

  .film {
    overflow: hidden;
    border: 1px solid #fff;
    background-size: 100%  100%;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }

  .burger {
    position: fixed;
    top: -75px;
    right: 2px;
    display: block;
    height: 10%;
    width: 4.5%;
    color: rgba(255, 255, 255, 0.7);
    margin: 110px 8% 0 0;
    z-index: 2;
    cursor: pointer;
  }

  .bar0, .bar1, .bar2 {
    width: 34px;
    height: 2px;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 0 7px 0;
  }

  .cross0 {
    transform: rotate(45deg) translate(16px, 9px);
    transition: ease 0.5s;
  }

  .cross2 {
    transform: rotate(-45deg) translate(3px, 2px);
    transition: ease 0.5s;
  }
}

/* DESKTOP */
 @media (min-width: 1029px) {
  .body {
    background: linear-gradient(130deg, rgba(2, 5, 6, 0.9) 0%,
    rgba(232, 235, 230, 0.9) 100%) fixed;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
    font-family: 'barlowregular';
   }

  .player {
     width: 500px;
     height: 500px;
     background: #fff;
   }

   .header {
     position: relative;
     display: flex;
     justify-content: flex-end;
     background: rgba(2, 5, 6, 0.3);
     height: 100px;
     width: 100%;
   }

  .navtop {
    position: absolute;
    top: 30px;
    right: 50px;
    display: flex;
  }

  .barre {
    margin: 5px 0 0 0;
    height: 30px;
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
  }

  .navitm {
    color: rgba(255, 255, 255, 0.9);
    padding: 0 0 10px 0;
    margin: 10px 10px;
  }

  .navitm:hover {
    border: none;
    border-bottom: solid 2px rgba(77, 181, 119, 0.8);
    transition: all 0.2s ease;
  }

   .burger {
     display: none;
   }

   .search {
     display: block;
   }

   .search_submit {
     display: none;
   }

   .search_text {
     margin: 158px 0 0 0;
     padding: 0 0 0 5px;
     background: rgba(0, 0, 0, 0);
     border-radius: 10px;
     border: 1px solid #fff;
     width: 118%;
     height: 30px;
   }

   .lp {
     margin: 162px 50px 0 0;
     width: 25px;
     height: 25px;
     opacity: 0.3;
   }

   .movies {
    display: flex;
    flex-wrap: wrap;
    height: 720px;
    overflow: hidden;
    margin: 100px 0 100px -20px;
  }

   .film {
    width: 550px;
    height: 350px;
    background-size: 600px 400px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    margin: 30px 0 50px 60px;
  }

  .catlist {
    display: grid;
    grid-template-columns: 15%;
    grid-auto-columns: 15%;
    grid-template-rows: 50% 50% 50%;
    grid-auto-rows: 50% 50% 50%;
    grid-gap: 5px;
    overflow: hidden;
    margin: 6% 0 0 0;
  }

  .containers {
    display: flex;
  }

  .categories, .year_container {
    border: none;
    border-bottom: solid 5px rgba(77, 181, 119, 0.8);
    width: 150px;
    height: 25px;
    margin: 50px 0 0 5%;
    overflow: hidden;
    color: rgba(232, 235, 230, 0.9);
  }

  .open {
    height: 265px;
    animation: open 1s;
  }

  @keyframes open {
    0% {
      height: 120px;
    }

    100% {
      height: 265px;
    }
  }
}
